body {
  margin-bottom: 50px;
  font-family: 'Titillium Web', sans-serif;
}

.jumbotron {
  background-color: #0c254d;
  color: whitesmoke;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

img {
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #0c254d;
  border-radius: 8px;
  display: block;
  padding-top: 50px;
}

#display-header {
  text-align: center;
}

.card {
  text-align: center;
}

#survey {
  display: none;
}

#ruby {
  display: none;
}

#java {
  display: none;
}

#javascript {
  display: none;
}

#python {
  display: none;
}